*{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.divider{
	width: 60px;
	height: 3px;
	background-color: $main-color;
}
// Titles=========================================
.title{
	font-weight: bold;
	font-size: 36px;
	line-height: 60px;
}

.subtitle{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}
.topic{
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

//flex BG=========================================
.background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	z-index: -1;
	&__flex-element {
		flex: 0 0 100%;
		position: relative;
	}
	&__img {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

//policy page
.policy-page {
	padding: 30px 0;
	background-color:rgb(234, 235, 235);
}
.policy-page__wripper {
	background-color:rgb(255, 255, 255);
	border: 1px solid #000000;
	border-radius: 14px;
	padding: 15px;
	line-height: 27px;
}
.policy-page__title{
	margin-top: 10px;
	display: block;
	font-size: 24px;
	text-align: center;
}

