//media======================================
@media(max-width: 1439px){
	.sidepannel{
		display: none;
	}
	.skills__grid-container-bars{
		margin-top: 48px;
	}
	.portfolio__wrapper{
		grid-template-columns: repeat(auto-fit, 280px);
		justify-content: center;
		grid-auto-rows: 280px;
		.horizontal{
			grid-row: unset;
			grid-column: unset;
		}
		.vertical{
			grid-row: unset;
			grid-column: unset;
		}
	}
	
}


@media(max-width: 1200px){
	.container{
		max-width: 960px
	}
	.about-me__grid-container{
		grid-template-columns: 400px 502px;
		column-gap: 37px;
	}
	.subgrid{
		column-gap: 10px;
	}
	.resume__wrapper{
		padding: 65px 10px 0 10px;
		grid-template-columns: repeat(2,340px);
	}
	.contacts__wrapper{
		padding: 0;
		column-gap: 25px;
	}
	.contacts__wrapper{
		grid-template-columns: 380px 480px;
	}
	.contacts__form{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
	}
	.contacts__triggers{
		column-gap: 30px;
	}
}


@media(max-width: 992px){
	.container{
		max-width: 720px;
	}
	.about-me__title{
		line-height: 38px;
		margin-top: 20px;
	}
	.about-me__line{
		margin-top: 16px;
	}
	.about-me__grid-container{
		grid-template-columns: 320px 1fr;
		grid-template-rows: auto;
		row-gap: 50px;
	}
	.subgrid{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-auto-rows: auto;
	}
	.about-me__grid-element-img{
		object-fit: contain;
		object-position: top;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.about-me__grid-element-skills{
		grid-column: 1 / 3;
		grid-row: 2 / 3
	}
	.about-me__grid-element-theme{
		grid-column: 2 / 3;
		grid-row: 1 / 2
	}
	.resume__wrapper{
		grid-template-columns: repeat(2,320px);
	}
	.price__wripper{
		grid-template-columns: auto;
		row-gap: 20px;
		justify-content: center;
	}
	.contacts__photo{
		display: none;
	}
	.contacts__wrapper{
		display: block;
	}
	.contacts{
		padding-top: 46px;
	}
	.contacts__title{
		margin-top: 26px;
	}
	.contacts__divider{
		margin-top: 15px;
	}
}


@media(max-width: 767px){
	.about-me{
		padding-top: 40px;
	}
	.about-me__subtitle{
	}
	.about-me__grid-container{
		grid-template-columns: 1fr;
		column-gap: 0;
	}
	.about-me__grid-element-img{
		object-fit: contain;
		object-position: top;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.about-me__grid-element-skills{
		grid-column: 1 / 2;
		grid-row: 3 / 4
	}
	.about-me__grid-element-theme{
		grid-column: 1 / 2;
		grid-row: 2 / 3
	}
	.container{
		max-width: 540px
	}
	.title{
		font-size: 26px;
		line-height: 39px;
	}
	.promo__title{
		margin-top: 9px;
		max-width: 376px;
	}
	.promo__subtitle{
		font-size: 16px;
		line-height: 24px;
	}
	.resume__wrapper{
		grid-template-columns: 1fr;
		row-gap: 40px;
		padding-top: 40px;
	}
	.resume__title{
		text-align: center;
		max-width: none;
	}
	.portfolio, .skills, .resume, .price {
		padding-top: 40px;
	}
	
	.skills__grid-container{
		margin-top: 20px;
	}
	.skills__divider, .portfolio__divider{
		margin-top: 15px;
	}
	.price__divider{
		margin-top: 21px;
	}
	.portfolio__wrapper{
		margin-top: 40px;
	}
	.price__divider{
		margin-top: 20px;
	}
	.contacts__policy{
		align-items: center;
		span{
			align-items: center;
			line-height: 14px;
		}
	}
}


@media(max-width: 576px){
	.container{
		max-width: 100%
		padding 0 15px
		
	}
	.promo__title{
		max-width: 280px;
	}
	.burger{
		top:20px;
		right: 30px;
		z-index: 10;
	}
	.background-image__img{
		object-position: 56% 50%;
	}
	.menu__block{
		width: 250px;
		padding-left: 55px;
		padding-top: 16px;
	}

	.skills__grid-container-bars{
		grid-template-columns: 1fr;
	}
	.skills__grid-container-bar{
		&:before{
			width: 100%;
		}
	}
	.contacts__form{
		display: block;
	}
	.contacts__triggers{
		column-gap: 0;
		row-gap: 20px;
		margin-top: 20px;
		grid-template-rows: auto;
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.contacts__btn{
		grid-row: 2 / 3;
	}
	.contacts__input{
		margin-top: 29px;
	}
	.contacts__textarea{
		margin-top: 27px;
		height: 143px;
	}
	.contacts__policy{
		align-items: center;
	}
}

@media(max-width: 420px){
	.price__item {
		width: 300px;
	}
	.price__item-discription{
		line-height: 18px;
	}
	.price__item-type{
		max-width: 160px;
	}
	.price__item-discription{
		max-width: 238px;
	}
	.contacts__policy{
		span{
			width: 160px;
		}
	}
}