.burger {
	position: fixed;
	top: 45px;
	z-index: 10000;
	right: 60px;
	width: 36px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end ; 
	cursor: pointer;
	&__line {
		background-color: #151812;
	}
}
.line-1 {
	width: 30px;
	height: 3px;

}
.line-2 {
	width: 36px;
	height: 3px;
}
.line-3 {
	width: 30px;
	height: 3px;
}


.menu {
	left: -100%;
	position: fixed;
	z-index: 1000;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
	&_active{
		left: 0%;
		visibility: visible;
		opacity: 1;
	}
	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 999;
		background: #ffffff;
		opacity: 0.6;
		
	}
	&__block{
		position: absolute;
		z-index: 1000;
		background: $main-color;
		padding-top: 24px;
		padding-left: 75px;
		width: 345px;
		height: 100%;
	}

	&__close {
		display: flex;
		justify-content: flex-end;
		margin-right: 25px;
		cursor: pointer;
	}

	&__list {
		margin-top: 87px;
	}

	&__link {
		margin-top: 19px;
		position: relative;
		&::before{
			content: "";
			border: solid #000000 1px;
			border-radius: 100%;
			width: 15px;
			height: 15px;
			top: 48%;
			transform: translateY(-50%);
			left: -35px;
			position: absolute;
		}
		a{
			font-weight: bold;
			font-size: 24px;
			color: #FFFFFF;
		}
		&:hover::before{
			background-color: #fff;
			transition: all 0.3s;
		}
		
	}

	&__social {
		height: 40px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 50px;
		margin: 0 -7.5px;
		a{
			display: block;
			margin: 0px 7.5px;
			margin-top: 20px;
			&:hover{
				transform: translateY(-5px);
				transition: all 0.3s;
			}
			&:hover svg path{
					fill: #ffffff;
					transition: all 0.3s;
			}
		}
	}
}
